@using TpePrmcyWms.Models.Service;
@using TpePrmcyWms.Models.DOM;
@model List<VaxSkdDtl>;
@using Newtonsoft.Json;
@{
    Layout = null;    
    List<vSelectOptions> DropValueList = ViewFunc.SelectFidToValue(new List<string>() { $"drugfullqueryisvax" });
}

@foreach (var item in Model)
{
    string drugstring = DropValueList.Where(x => x.Group == "drugfullqueryisvax" && x.Value.Split("，")[2] == item.DrugFid.ToString()).FirstOrDefault()?.Value ?? "";
    string[] drugarr = drugstring.Split("，");
    if (drugarr.Length != 3) { continue; }

    <div class="ListCard" onclick="DtlEditing(@(item.FID))" keyword="">
        <table style="width:100%;">
            <tr>
                <td align="left" width="120px" >@(drugarr[0])</td>
                <td align="left" >@(drugarr[1])</td>                
            </tr>
        </table>
    </div>
}



