<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectString" value="Data Source=.\SQLEXPRESS;Initial Catalog=TpePrmcyWms; User ID=sa;Password=1234;"/>
		

		<add key="AtCbntFid" value="2"/>
		<add key="LedColors" value="Blue,Green,Orange,Red"/>
		<add key="LogPath" value="D:\工作\mySourceCode\SourceLog\TpePrmcyWmsKiosk\"/>
		<add key="Testing" value="1"/>
		<add key="WebUrl" value="http://localhost:100/"/>
		
		
		<add key="PortName_Defaut" value="19200,8,1,0"/>
		<add key="PortName_COM1" value="19200,8,1,0"/>
		<add key="PortName_COM2" value="19200,8,1,0"/>
		<add key="PortName_COM3" value="19200,8,1,0"/>
		<add key="PortName_COM4" value="115200,8,1,0"/>
		<add key="PortName_COM5" value="19200,8,1,0"/>
		<add key="PortName_COM6" value="19200,8,1,0"/>
		<add key="PortName_COM7" value="19200,8,1,0"/>
		<add key="PortName_COM8" value="19200,8,1,0"/>
		<add key="PortName_COM9" value="19200,8,1,0"/>
		


		
		
	</appSettings>
</configuration>