<?xml version="1.0" encoding="utf-8"?>
<configuration>

	
	
	<appSettings>
		<add key="ConnectString" value=".\SQLEXPRESS;Initial Catalog=TpePrmcyWms; User ID=sa;Password=1234;Trusted_Connection=True;TrustServerCertificate=true"/>
		
		<add key="TolerancePercent" value="5"/>



	</appSettings>

</configuration>