<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectString" value="Data Source=.\SQLEXPRESS;Initial Catalog=TpePrmcyWms; User ID=sa;Password=1234;"/>
		

		<add key="LogPath" value="D:\工作\mySourceCode\SourceLog\TpePrmcyWmsKiosk\"/>
		<add key="Testing" value="1"/>
		
		<add key="SmtpServer" value="owa.tpech.gov.tw"/>
		<add key="FromMail" value="APServerAutoCheck@tpech.gov.tw"/>
		
		

		
		
	</appSettings>
</configuration>